#nav_tab>li:nth-child(1){
    background:transparent;
    border-top:5px solid transparent;
}
#nav_tab>li:nth-child(1):hover{
    background:#e56606;
    border-top:5px solid rgba(0, 0, 0, .5);
}
#section{
    width: 100%;
    height: 1320px;
    background: url("../../image/user_bg.jpg") no-repeat;
    background-size:100% auto;
}
#main{
    width: 1200px;
    height: 960px;
    margin: 250px auto;
    background: #F7F7F7;
}
#main_lf{
    width: 335px;
    height: 950px;
    float: left;
    margin: 0 20px;
}
#main_lf_top{
    width: 335px;
    height: 395px;
}
#part_one{
    width: 100%;
    height: 50px;
    line-height:50px;
    border-bottom: 1px solid #F28B31;
}
#part_one>span{
    display: block;
    float: left;
    font-size: 23px;
    font-weight: bold;
    color: #e56606;
}
#part_one>h2{
    font-size: 20px;
    margin-left: 10px;
}
#part_two{
    width: 284px;
    height: 126px;
    margin: 0 auto;
    border-bottom: 1px dashed #dddddd;
}
#part_two>a>img{
    display: block;
    float: left;
    width: 75px;
    height: 75px;
    margin-top: 25px;
}
#part_two>div{
    width: 200px;
    height: 100%;
    float: left;
    padding:20px 10px;
    box-sizing: border-box;
}
#part_two>div>a{
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #0695d7;
}
#part_two>div>span{
    display: block;
    height: 35px;
    line-height: 35px;
    color: #88888a;
}
#part_two>div>div{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
#part_two>div>div>span{
    display: block;
    float: left;
}
#part_two>div>div>span:nth-child(1){
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #0592D9;
    border-radius: 5px;
    color: #ffffff;
    font-size: 13px;
}
#part_two>div>div>span:nth-child(2){
    margin-left: 20px;
    cursor: pointer;
    color: #B3B3B3;
}
#part_three{
    width: 284px;
    height: 200px;
    margin: 10px auto;
}
#part_three_top{
    width: 100%;
    height: 25px;
    line-height: 25px;
}
#part_three_down{
    width: 100%;
    height: 150px;
    margin-top: 5px;
}
.avo_line{
    width: 100%;
    height: 40px;
    padding-top: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    border-top: 1px dashed #DDDDDD;
}
.avo_line:hover{
    background: #ededed;
}
.avo_line:nth-child(1){
    background: #ededed;
}
.avo_line>a{
    width: 100%;
    height: 32px;
}
.avo_line>a>img{
    display: block;
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 4px;
}
.avo_line>a>span{
    display: block;
    float: left;
    margin: 10px 0 0 20px;
}
#main_lf_down{
    width: 100%;
    height: 545px;
    margin-top: 20px;
}
#second_one{
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #F28B31;
}
#second_one>span{
    display: block;
    float: left;
    font-size: 23px;
    font-weight: bold;
    color: #e56606;
}
#second_one>h2{
    font-size: 20px;
    margin-left: 10px;
}
#second_two{
    width: 100%;
    height: 450px;
    background: #ffffff;
    padding: 20px 20px;
    box-sizing: border-box;
}
.change_line{
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-top: 1px solid #dddddd;
}
.change_line>a{
    width: 100%;
    height: 45px;
}
.change_line:nth-child(1){
    background:#e56606;
}
.change_line:nth-child(1)>a>span:nth-child(2){
    color: #ffffff;
}
.change_line:hover{
    background: #e56606;
}
.change_line>a:hover{
    color: #ffffff;
}
.change_line>a>span{
    display: block;
    float: left;
}
.change_line>a>span:nth-child(1){
    width: 22px;
    height: 25px;
    margin: 10px 0 0 10px;
}
.change_line>a>span:nth-child(2){
    width: 200px;
    margin-left: 20px;
    font-size: 16px;
}
.change_line:nth-child(1)>a>span:nth-child(1){
    background: url("../../image/list_ico_014.jpg")no-repeat;
}
.change_line:nth-child(2)>a>span:nth-child(1){
    background: url("../../image/list_ico_15.jpg")no-repeat;
}
.change_line:nth-child(3)>a>span:nth-child(1){
    background: url("../../image/list_ico_15.jpg")no-repeat;
}
.change_line:nth-child(4)>a>span:nth-child(1){
    background: url("../../image/list_ico_07.jpg")no-repeat;
}
.change_line:nth-child(5)>a>span:nth-child(1){
    background: url("../../image/list_ico_08.jpg")no-repeat;
}
.change_line:nth-child(6)>a>span:nth-child(1){
    background: url("../../image/list_ico_03.jpg")no-repeat;
}
.change_line:nth-child(7)>a>span:nth-child(1){
    background: url("../../image/list_ico_01.jpg")no-repeat;
}
.change_line:nth-child(8)>a>span:nth-child(1){
     background: url("../../image/list_ico_18.jpg")no-repeat;
 }
.change_line:nth-child(9)>a>span:nth-child(1){
    background: url("../../image/list_ico_019.jpg")no-repeat;
}
#main_rg{
    width: 810px;
    height: 852px;
    float: left;
}
#main_rg_tp{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
#main_rg_tp>span{
    display: block;
    float: left;
    font-size: 23px;
    font-weight: bold;
    color: #e56606;
}
#main_rg_tp>h2{
    font-size: 20px;
    margin-left: 10px;
}
#main_rg_dw{
    width: 100%;
    height: 803px;
    background: #ffffff;
    padding: 10px 20px;
    box-sizing: border-box;
}
#rg_part_one{
    width: 680px;
    height: 160px;
    padding: 20px;
    box-sizing: border-box;
}
#rg_part_one>a>img{
    width: 100px;
    height: 100px;
    display: block;
    float: left;
}
#rg_part_one_rg{
    width: 535px;
    height: 105px;
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
}
#rg_part_one_rg>div:nth-child(1){
    width: 535px;
    height:30px;
    line-height: 30px;
    border-bottom: 1px dashed #DDDDDD;
}
#rg_part_one_rg>div:nth-child(1)>span{
    font-size: 16px;
    padding-left: 12px;
}
#rg_part_one_rg>div:nth-child(2){
    padding-left: 12px;
    width: 535px;
    height: 65px;
    box-sizing: border-box;
}
#rg_part_one_rg>div:nth-child(2)>span{
    width: 100%;
    height: 40px;
    line-height: 40px;
}
#rg_part_one_rg>div:nth-child(2)>div{
    width: 100%;
    height: 40px;
}
#rg_part_one_rg>div:nth-child(2)>div>span{
    display: block;
    float: left;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color:#ffffff;
    background: #e56606;
    border-radius: 10px;
    cursor: pointer;
}
#rg_part_one_rg>div:nth-child(2)>div>span:nth-child(2){
    margin-left: 10px;
}
#rg_part_two{
    width: 670px;
    height: 143px;
}
#rg_part_two_tp{
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px dashed #DDDDDD;
}
#rg_part_two_tp>span{
    display: block;
    float: left;
    font-size: 23px;
    font-weight: bold;
    color: #e56606;
}
#rg_part_two_tp>h2{
    font-size: 20px;
    margin-left: 10px;
}
#rg_part_two_dw{
    width: 670px;
    height: 105px;
}
.dw_line{
    width: 100%;
    height: 35px;
    line-height: 35px;
}
.dw_line>span{
    display: inline-block;
    float: left;
    margin: 0 5px;
}
.dw_line>a{
    display: block;
    float: left;
    width: 60px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid red;
    border-radius: 4px;
    margin-top: 5px;

}
.dw_line>span:nth-child(1){
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.dw_line:nth-child(1)>span:nth-child(1){
    background: url("../../image/gr_03.jpg")no-repeat;
}
.dw_line:nth-child(2)>span:nth-child(1){
    background: url("../../image/kf_001.png")no-repeat;
}
.dw_line:nth-child(3)>span:nth-child(1){
    background: url("../../image/gr_04.jpg")no-repeat;
}
#rg_part_three{
    width: 670px;
    height: 460px;
    margin-top: 20px;
}
#rg_part_three_tp{
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px dashed #DDDDDD;
}
#rg_part_three_tp>span{
    display: block;
    float: left;
    font-size: 23px;
    font-weight: bold;
    color: #e56606;
}
#rg_part_three_tp>h2{
    font-size: 20px;
    margin-left: 10px;
}
#base_data{
    width: 540px;
    height: 319px;
    border: 2px solid #DDDDDD;
    margin-top: 10px;
}
.data_line{
    width: 100%;
    height: 40px;
    line-height: 40px;

}
.data_line>div{
    float: left;
}
.line_one{
    width: 122px;
    height: 40px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    text-align: center;
}
.line_two{
    width: 418px;
    height: 40px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    padding-left: 40px;
    color: #0592D9;
    cursor: pointer;
}
#data_submit{
    width: 150px;
    height: 40px;
    margin: 20px auto;
}
#data_submit>input{
    width: 150px;
    height: 100%;
    border-radius: 4px;
    background: #e56606;
    color: #ffffff;
    cursor: pointer;
}