html{
    font: 14px "microsoft yahei", Arial, Helvetica, sans-serif;
}
body{
    background: #F7F7F7;
    color: #333;
}
a{
    text-decoration: none;
    color: #222222;
    font-size: 14px;
}
a:hover{
    color: #36A9E2;
}
fieldset{
    margin:0;
    border-radius: 4px;
    border:1px solid #cccccc;
}
img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
input,button{
    border:0;
    outline:none;
}
ul,li{
    list-style: none;
}
legend{
    color: #B3B3B3;
}
.font_hid{
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#header{
    width: 100%;
    height: 75px;
    background: #222;
}
#header_all{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}
#header_all>div{
    float: left;
}
#header_all>div:nth-child(1){
    width: 200px;
    height: 75px;
    line-height: 75px;
    cursor: default;
}
#header_all>div:nth-child(1)>h3{
    color: #888888;
}
#header_all>div:nth-child(1)>h3{
    float: left;
}
#header_all>div:nth-child(1)>span{
    display: block;
    float: left;
    color: #888888;
    font-size: 20px;
    margin: 0 5px;
}
#header_all>div:nth-child(2){
    width: 150px;
    height: 75px;
    line-height: 75px;
}
#header_all>div:nth-child(2)>a{
    color: #888888;
    display: block;
    float: left;
    width: 60px;
}
#header_all>div:nth-child(3){
    width: 540px;
    height: 75px;
    line-height: 75px;
    text-align: right;
}
#header_all>div:nth-child(3)>a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    float: left;
    overflow: hidden;
    margin-left: 400px;
    margin-top: 22px;
}
#header_all>div:nth-child(3)>a>img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
}
#header_all>div:nth-child(3)>span{
    display: block;
    float: left;
    margin-left: 10px;
    color: #888888;
    width: 100px;
    height: 75px;
    text-align: left;
}
#header_all>div:nth-child(4){
    width: 30px;
    height: 75px;
    line-height: 75px;
    text-align: left;
}
#header_all>div:nth-child(4)>i{
    font-size: 20px;
    color: #888888;
    cursor: pointer;
}
#section{
    width: 100%;
    background: #e8e8e8;
    padding-bottom: 100px;
}
#section_all{
    width: 1000px;
    margin: 0 auto;
    background: #fff;
    position: relative;
    left: 0;
    top:50px;
    box-shadow:  0px 0px 35px #888;
    overflow: hidden;
}
#section_left{
    width: 250px;
    height: 100%;
    float: left;
    padding: 20px 15px;
    box-sizing: border-box;
}
.section_left_list{
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    padding-left: 10px;
    box-sizing: border-box;
}
.section_left_list:hover{
    background: #DDDDDD;
}
.section_left_list>a{
    display: block;
    width: 100%;
    height: 100%;
}
.section_left_list>a>i{
    margin-left: 5px;
}
.section_left_list>a>span:nth-child(2){
    color: #888888;
    margin-left: 10px;
    font-size: 13px;
    font-weight: bold;
    cursor: default;
}
.section_left_list>a>span:nth-child(3){
    float: right;
    margin-right: 15px;
    color: #888888;
    cursor: default;
}
#section_left_d{
    position: absolute;
    left: 5px;
    bottom: 5px;
}
#section_left_d>a,#section_left_d>span{
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #888888;
    margin-left: 10px;
    font-size: 13px;
}
#section_right{
    width: 750px;
    height: 100%;
    padding: 20px 20px 110px 20px;
    float: right;
    box-sizing: border-box;
    background: #f3f3f3;
}
#section_right_top{
    width: 100%;
    height: 60px;
    line-height: 60px;
}
#section_right_top>h3{
    float: left;
}
#section_right_down{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
}
#section_right_down>div{
    width: 100%;
    height: 55px;
    margin-top: 10px;
}
.autor_list{
    width: 100%;
    height: 55px;
    margin-top: 10px;
}
.autor_list>div{
    float: left;
}
.autor_list>div:nth-child(1){
    width: 120px;
    height: 55px;
    text-align: right;
    line-height: 30px;
}
.autor_list>div:nth-child(2){
    height: 100%;
    margin-left: 15px;
    line-height: 30px;
}
.autor_list>div:nth-child(2)>img{
    height: 55px;
    width: 55px;
    border-radius: 50%;
}
.autor_list>div:nth-child(2)>input{
    width: 200px;
    height: 35px;
    padding-left: 5px;
    box-sizing: border-box;
}
.autor_list>input{
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    background: #e4393c;
    color: #FFFFFF;
}
.autor_list>div:nth-child(2)>.inp_sort{
    width: 50px;
    height: 35px;
}
.autor_list>div:nth-child(2)>.inp_long{
    width: 135px;
    height: 35px;
}