<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>修改密码</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/Admin/css/adminStyle.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/Admin/js/jquery-1.8.3.min.js"></script>
<script src="__PUBLIC__/Vendors/layer/layer.js"></script>
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i class="user"></i><em>修改密码</em></span>
  </div>
  <form action="{:U('Admin/Admin/revisePassword')}" method="post">
     <table class="noborder">
      <tr>
       <td width="15%" style="text-align:right;">账号：</td>
       <td><input type="text" class="textBox length-middle" name="name"/></td>
      </tr>
      <tr>
       <td style="text-align:right;">邮箱：</td>
       <td><input type="text" class="textBox length-middle" name="email"/></td>
      </tr>
      <tr>
       <td style="text-align:right;">旧密码：</td>
       <td><input type="password" class="textBox length-middle" name="old_pwd"/></td>
      </tr>
      <tr>
       <td style="text-align:right;">新密码：</td>
       <td><input type="password" class="textBox length-middle" name="new_pwd"/></td>
      </tr>
      <tr>
       <td style="text-align:right;">再次确认密码：</td>
       <td><input type="password" class="textBox length-middle" name="sure_pwd"/></td>
      </tr>
      <tr>
       <td style="text-align:right;"></td>
       <td><input type="submit" class="tdBtn" value="保存"/></td>
      </tr>
     </table>
  </form>
 </div>
</body>
<script type="application/javascript">
 var name,email,old_pwd;
 $(document).ready(function(){
     $.ajax({
         url:"{:U('Admin/Admin/revisePassword')}",
         type:'post',
         dataType:'json',
         success:function(data){
             name = data.name;
             email = data.email;
             old_pwd = data.password;
         },
         error:function(XMLHttpRequest,textStatus,errorThrown){
           layer.alert('网络连接出现问题，请刷新后重试',{icon:2});
         }
     });
 });



</script>
</html>