
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1500630135517'); /* IE9*/
  src: url('iconfont.eot?t=1500630135517#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1500630135517') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1500630135517') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1500630135517#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:25px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xing:before { content: "\e645"; }
.mar{
  padding: 0 5px;color:#b3b3b3;
}
.col{
  color: #FAD232!important;
}