#nav_tab>li:nth-child(1){
    background:transparent;
    border-top:5px solid transparent;
}
#nav_tab>li:nth-child(1):hover{
    background:#e56606;
    border-top:5px solid rgba(0, 0, 0, .5);
}
#nav_tab>li:nth-child(6){
    background: #e56606;
    border-top:5px solid rgba(0, 0, 0, .5);
}
#nav_tab>li:nth-child(6)>a{
    color: #ffffff;
}
#section{
    width: 100%;
    height: 1300px;
    margin-top: 40px;
    background: url("../image/service_bg.jpg") no-repeat;
    background-size: 100% auto;
}
#main{
    width: 1200px;
    height: 900px;
    margin: 0 auto;
    padding-top: 350px;
}
#main_all{
    width: 100%;
    height: 1000px;
    padding:0 20px;
    box-sizing: border-box;
    background: rgba(255,255,255,.5);
}
#main_lf{
    width: 284px;
    height: 732px;
    float: left;
}
#main_lf_top{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #3c3c3c;
    font-weight: bold;
    text-align: left;
}
#main_lf_down{
    width: 100%;
    height: 680px;
    background: #ffffff;
    border-radius: 4px;
}
.service_line>li{
    display: block;
    width: 100%;
    height: 50px;
    border-bottom: 1px dashed #dddddd;
}
.service_line>li:hover{
    background: #e56606;
}
.service_line>li>a{
    display: block;
    width: 100%;
    height: 50px;
}
.service_line>li>a>span:nth-child(1){
    display: block;
    float: left;
    width: 25px;
    height: 40px;
    zoom: 1.2;
    background: url('../image/list_ico_01.jpg') no-repeat left 12px;
    margin-left: 20px;
}
.service_line>li>a>span:nth-child(2){
    display: block;
    float: left;
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    margin-left: 5px;
    color: #888888;
}
.service_line>li>a>span:nth-child(2):hover{
    color: #ffffff;
}
.service_line>li:nth-child(9){
    background: #e56606;
}
.service_line>li:nth-child(9)>a>span:nth-child(2){
    color: #ffffff;
}
#main_rg{
    width: 865px;
    height: 100%;
    float: left;
}
#main_rg_top{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #3c3c3c;
    font-weight: bold;
    text-align: left;
    margin-left: 5px;
}
#main_rg_dw{
    width: 100%;
    height: 615px;
    background: #ffffff;
}
.service_last>a>div>h3{
    color: #000000;
}
.service_btn{
    width: 370px;
    height: 110px;
    float: left;
    border-bottom: 1px solid #dddddd;
    padding: 30px 20px 10px;
}
.service_btn>a{
    display: block;
    width: 370px;
    height: 110px;
}
.service_btn>a>span{
    width: 79px;
    height: 79px;
    display: block;
    cursor: pointer;
    float: left;
    background: url('../image/kf_01.jpg') no-repeat;
}
.service_btn>a>div{
    width: 220px;
    height: 78px;
    float: left;
    margin-left: 20px;
}
.service_btn>a>div>span{
    display: block;
    margin-top: 10px;
    color: #888888;
    line-height: 19px;
}
.service_btn>a>.svc_pic_two{
    background: url('../image/kf_04.jpg') no-repeat;
}
.service_btn>a>.svc_pic_three{
    background: url('../image/kf_02.jpg') no-repeat;
}
.service_btn>a>.svc_pic_four{
    background: url('../image/kf_03.jpg') no-repeat;
}
.service_btn>a>.svc_pic_five{
    background: url('../image/kf_06.jpg') no-repeat;
}
.service_btn>a>.svc_pic_six{
    background: url('../image/kf_05.jpg') no-repeat;
}
.service_btn>a>.svc_pic_seven{
    background: url('../image/service_7.jpg') no-repeat;
}
.service_btn>a>.svc_pic_eight{
    background: url('../image/service_8.jpg') no-repeat;
}
.code_ref{
    position: relative;
    z-index: 10;
}
#code_pst{
    width: 430px;
    height: 430px;
    overflow: hidden;
    position: absolute;
    top: -190px;
    left: 0;
    display: none;
}
#code_pst>img{
    width: 430px;
    height: 430px;
}
.code_ref:hover #code_pst{
    display: block;
}
#main_rg_bottom{
    width: 100%;
    height: 330px;
    overflow: hidden;
}
.main_pro_lf{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    padding: 10px;
}
.main_pro_lf>li{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.main_pro_lf>li>a{
    color: #888888;
}
.main_pro_lf>li>a:hover{
    color: #e56606;
}