#nav_tab>li:nth-child(1){
    background:transparent;
    border-top:5px solid transparent;
}
#nav_tab>li:nth-child(1):hover{
    background:#e56606;
    border-top:5px solid rgba(0, 0, 0, .5);
}
#nav_tab>li:nth-child(6){
    background: #e56606;
    border-top:5px solid rgba(0, 0, 0, .5);
}
#nav_tab>li:nth-child(6)>a{
    color: #ffffff;
}
#section{
    width: 100%;
    height: 1300px;
    background: url("../../image/service_bg.jpg") no-repeat;
    background-size: 100% auto;
}
#main{
    width: 1200px;
    height: 900px;
    margin: 0 auto;
}
#main_all{
    margin-top: 200px;
    width: 100%;
    height: 1000px;
    padding:0 20px;
    box-sizing: border-box;
    background: rgba(255,255,255,.5);
}
#main_lf{
    width: 284px;
    height: 732px;
    float: left;
}
#main_lf_top{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #3c3c3c;
    font-weight: bold;
    text-align: left;
}
#main_lf_down{
    width: 100%;
    height: 680px;
    background: #ffffff;
    border-radius: 4px;
}
.service_line>li{
    display: block;
    width: 100%;
    height: 50px;
    border-bottom: 1px dashed #dddddd;
}
.service_line>li:hover{
    background: #e56606;
}
.service_line>li>a{
    display: block;
    width: 100%;
    height: 50px;
}
.service_line>li>a>span:nth-child(1){
    display: block;
    float: left;
    width: 25px;
    height: 40px;
    zoom: 1.2;
    background: url('../../image/list_ico_01.jpg') no-repeat left 12px;
    margin-left: 20px;
}
.service_line>li>a>span:nth-child(2){
    display: block;
    float: left;
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    margin-left: 5px;
    color: #888888;
}
.service_line>li>a>span:nth-child(2):hover{
    color: #ffffff;
}
.service_line>li:nth-child(10){
    background: #e56606;
}
.service_line>li:nth-child(10)>a>span:nth-child(2){
    color: #ffffff;
}
#main_rg{
    width: 865px;
    height: 100%;
    float: left;
}
#main_rg_top{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #3c3c3c;
    font-weight: bold;
    text-align: left;
    margin-left: 5px;
}
#main_rg_dw{
    width: 100%;
    height: 762px;
    background: #ffffff;
    padding-left: 50px;
    box-sizing: border-box;
}
#main_part_one{
    width: 100%;
    height: 80px;
}
#main_part_one>span,#main_part_one>a{
    display: block;
    padding: 20px;
}
#main_part_one>span{
    float: left;
}
#main_part_one>a{
    float:right;
    color: red;
}
#table-data{
    display: table;
    border:1px solid #DDDDDD;
    width: 100%;
    height: auto;
}
#table-data>tbody>tr:last-child{
   margin-bottom: 50px;
 }
#table-data>thead{
    width: 100%;
    height: 25px;
    background: #f7f7f7;
}
#table-data>thead>tr>th:nth-child(1){
    width: 550px;
    height: 25px;
}
#table-data>thead>tr>th{
    line-height: 25px;
    color: #888888;
}
#table-data>tbody>tr>td{
    border:none;
    height: 25px;
}
#main_part_two{
    width: 100%;
    height: 690px;
    margin-top: 50px;
}
#main_part_two>h4{
    height: 25px;
    line-height: 25px;
    text-indent: 16px;
}
#problem_data{
    width: 100%;
    height: 652px;
    padding: 5px;
}
.data_line{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 2px;
    box-sizing: border-box;
}
.data_line>span:nth-child(1){
    display: inline-block;
    float: left;
    width: 100px;
    height: 40px;
    text-align: right;
}
.data_line>select:nth-child(2){
    width: 150px;
    height: 25px;
    margin-left: 10px;
}
.data_line>select:nth-child(3){
    width: 150px;
    height: 25px;
}
.data_line>input{
    width: 202px;
    height: 28px;
    margin-left: 10px;
    border: 1px solid #B3B3B3;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.06) inset;
}
.data_line>span:nth-child(3){
    color:#cc3300;
}
.input_date{
    color:#cc3300;
}
#text_date{
    width: 369px;
    height: 158px;
    margin: 10px 0 0 10px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.06) inset;
}
.data_line>p{
    padding-left: 106px;
    box-sizing: border-box;
    color: #888888;
    font-size: 13px;
}
.text_line{
    width: 100%;
    height: 270px;
}
#code_date{
    width: 60px;
    height: 30px;
    display: inline-block;
    border:1px solid #B3B3B3;
    position: relative;
    left:0;
    top: 7px;
}
#date_submit{
    margin: 15px 0 0 20px;
    width: 180px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    background:  #e56606;
    border-radius: 4px;
}