#header{
    width: 100%;
    height: 66px;
    background: #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
#header_all{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
#header_all #header_logo{
    width: 146px;
    height: auto;
    float: left;
}
#header_all #header_logo>a>img{
    width: 66px;
    height: 66px;
    float: left;
    line-height: 66px;
}
#header_all #header_logo>a>h3{
    float: left;
    height: 66px;
    width: 80px;
    line-height: 66px;
    text-align: center;
    color: #FFA5B6;
}
#header_right{
    float: right;
}
#header_all .h_login{
    width: 160px;
    height: 66px;
    float: left;
    text-align: center;
    line-height: 66px;
    cursor: default;
    position: relative;
}
#header_all .h_login .h_log>span{
    display:block;
    padding-left: 5px;
    float: left;
}
#header_all .h_login .h_log>span:hover{
    color: #FFA5B6;
}
#header_all .h_login .h_log>span>a:hover{
        color: #FFA5B6;
}
#entry_lg{
    margin-left: 60px;
}
.style_l:hover{
    color: #333!important;
}
#header_all .h_history{
    float: left;
}
#header_all .h_history>ul{
    display: block;
}
#header_all .h_history>ul>li{
    display: block;
    float: left;
    font-size: 14px;
    width: 80px;
    height: 100%;
    line-height: 66px;
    text-align: center;
    cursor: default;
}
#header_all .h_history>ul>li>a:hover{
    color: #FFA5B6;
}

#person_center_pst{
    width:250px;
    height: 0px;
    overflow: hidden;
    position: absolute;
    left: -0px;
    top: 64px;
    z-index: 10;
    background: #FFFFFF;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(223, 223, 223, .50);
            box-shadow: 0 4px 8px 0 rgba(223, 223, 223, .50);
    text-align: center;
}
#header_all .h_login .header_link{
    display: block;
    width: 64px;
    height: 64px;
    margin-left: 105px;
}
#header_all .h_login .header_link>a>img{
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top:20px;
    left: 105px;
    z-index: 100;
    border-radius: 50%;
    overflow: hidden;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.person_show{
    transform:scale(2);
    -webkit-transform:scale(2);
    -moz-transform:scale(2);
    -o-transform:scale(2);
    transform-origin: top center;
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
}
#person_center_pst>div{
    width: 100%;
    height: 50px;
}
#person_name{
    font-size: 15px;
    font-weight: bold;
}
#person_point>a{
    margin-left: 15px;
    color: #222222;
}
#person_point>a>span{
    color: #888888;
}
#person_vip{
    width: 100px!important;
    height: 30px!important;
    line-height: 30px;
    margin: 20px auto 0;
    border-radius: 15px;
    background: #e4393c;
}
#person_vip>a{
    color: #FFFFFF;
    width: 100%;
    height: 100%;
}
#person_SignOut{
    color: #888888;
}

#advert_one{
    width: 100%;
    height: 150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
}

/*附加登录遮罩层*/
#login_second{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    display: none;
}
#login_second_all{
    width: 600px;
    height: 400px;
    border-radius: 5px;
    background: #ffffff;
    margin: 10% auto;
}
#login_second_content{
    width:100%;
    height: auto;
}
#login_second_content>div:nth-child(1){
    width:100%;
    height: 70px;
    line-height: 70px;
    color:#FFA5B6;
    font-weight: bold;
    border-bottom: 1px solid #dfdfdf;
    text-align: center;
}
#login_second_content>div:nth-child(1)>span{
    font-size:22px;
}
#close_login{
    position: relative;
    top: 0;
    left:190px;
    cursor: pointer;
    color: #B3B3B3;
    font-size: 24px;
}
#login_pad{
    padding: 0 100px;
}


#section_right{
    float: right;
    width: 815px;
    margin-right:5px;
    box-shadow: 0px 0px 30px #888;
    background-color: #f7f7f7;
    border-radius: 5px;
}
#section_one{
    padding: 50px 0 80px 0;
    box-shadow: 5px 0px 60px #ddd;
    border-radius: 8px;
}
#section_one:after{
    content: "";
    display: block;
    clear:both;
}
#section_tj{
    text-align: center;
    margin-bottom: 50px;
}
#section_tj>div{
    display: inline-block;
    width: 500px;
    border:2px solid #ddd;
    border-radius: 3px;
}
#section_tj>span{
    font-size: 22px;
    font-weight: bold;
    color: #e56606;
    padding: 0 5px;
}

/*遮罩层白色背景的内容*/
.login_pad{
    padding: 20px;
}
.login_one{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.login_one>span{
    font-size: 20px;
    color: #3FB2E8;
}
.login_two{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
    border-bottom: 1px solid #CCCCCC;
    position: relative;
}
.login_two>input{
    border:none;
    background: transparent;
}
.er_code{
    width: 100%;
    height: 40px;
    line-height: 30px;
    margin-top: 14px;
}
.er_code>input{
    width: 120px;
    height: 32px;
    border-radius: 5px;
    border-bottom:1px solid #DDDDDD;
    padding-left: 10px;
}
.er_code>img{
    display: inline-block;
    width: 100px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #DDDDDD;
    margin-left: 20px;
    vertical-align: middle;
}
#notice_three{
    position: absolute;
    top: -16px;
    left:136px ;
    z-index : 100;
}
.login_three{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.login_three>a{
    float: right;
}
.login_four{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.login_four>input{
    display: block;
    width: 100%;
    height: 40px;
    border:none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    background:#FFA5B6;
    border-radius: 3px;
}
#login_enter_two:hover{
    background:#FF8080;
}
.login_five{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.login_five>ul{
    float: left;
}
.login_five>ul>li{
    float: left;
}
.login_five>ul>li:nth-child(2){
    padding:0 8px;
}
.login_five>ul>li>a>img{
    vertical-align: middle;
}
.login_register {
    display: block;
    float: right;
    margin-left: 10px;
}