html{
    font: 14px "microsoft yahei", Arial, Helvetica, sans-serif;
}
body{
    background: #ffffff;
}
a{
    text-decoration: none;
    color: #222222;
    font-size: 14px;
}
a:hover{
    color: #36A9E2;
}
fieldset{
    margin:0;
    border-radius: 4px;
    border:1px solid #cccccc;
}
img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
input,button{
    border:0px;
    outline:none
}
ul,li{
    list-style: none;
}
legend{
    color: #B3B3B3;
}

#header{
    width:100%;
    height: 90px;
    margin-top: 100px;
}
#header_all{
    width: 960px;
    height: 100%;
    margin: 0 auto;
}
#header_all>div:nth-child(1)>a{
    display: block;
    float: left;
    width: 148px;
    height:68px;
}
#header_all>div:nth-child(1)>span{
    display: block;
    float: left;
    border-left: 1px solid #888888;
    font-size: 28px;
    color: #888888;
    height: 45px;
    line-height: 45px;
    margin: 17px 0 17px 15px;
    width: 114px;
    padding-left: 10px;
}
#header_all>div:nth-child(2){
    width: 400px;
    height: 100%;
    float: right;
}
#header_all>div:nth-child(2)>ul>li{
    display: block;
    float: left;
}
#header_all>div:nth-child(2)>ul>li>a{
    display: block;
    width: 100px;
    height: 90px;
    line-height: 90px;
    box-sizing: border-box;
    font-size: 16px;
    color: #888888;
    text-align: center;
}
#section{
    width: 100%;
    height: 490px;
    background: url("../image/grdl_bg.jpg") top center;
}
#section_all{
    width: 960px;
    height: 100%;
    margin: 0 auto;
}
#lg_part{
    width:308px;
    height: 340px;
    float: right;
    margin:68px 18px 0 0;
    background: #ffffff;
}
#lg_msg{
    width:308px;
    height: 275px;
}
#lg_top{
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
#lg_top>span{
    font-size: 20px;
    font-weight: bold;
    color: #e56606;
}
#lg_down{
    width: 260px;
    height: 210px;
    margin: 0 auto;
}
.log_line{
    height: 65px;
}
.log_line>span{
    line-height: 2px;
    margin-top: 10px;
    display: block;
}
.log_line>input{
    border: 1px solid #888888;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding-left: 5px;
}
#lg_down>div:nth-child(3){
    height: 30px;
    width: 100%;
    line-height: 30px;
}
#lg_down>div:nth-child(3)>span{
    color: #888888;
}
#lg_down>div:nth-child(3)>a{
    color: #888888;
    float: right;
}
#lg_down>div:nth-child(3)>a:hover{
    color: #e56606;
}
#lg_down>div:nth-child(4){
    width: 100%;
    height: 40px;
}
#lg_down>div:nth-child(4)>input{
    display: block;
    width: 269px;
    height: 40px;
    margin: 0 auto;
    border-radius: 5px;
    background: #e56606;
    color: #ffffff;
}
#third_part{
    width: 100%;
}
#third_part>a{
    display: block;
    float: left;
    margin: 10px 0 0 8px;
}
#third_part>a>img{
    width: 30px;
    height: 30px;
    margin: 0 17px;
}
#third_part>a:last-child{
    width: 60px;
    height: 30px;
    color: #36A9E2;
    line-height: 40px;
}
#footer{
    margin-top: 0;
    background: transparent;
}