html{
    font: 14px "microsoft yahei", Arial, Helvetica, sans-serif;
}
body{
    background: #F1F1F1;
}
a{
    text-decoration: none;
    color: #222222;
    font-size: 14px;
}
a:hover{
    color: #36A9E2;
}
fieldset{
    margin:0;
    border-radius: 4px;
    border:1px solid #cccccc;
}
img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
input,button{
    border:0px;
    outline:none
}
ul,li{
    list-style: none;
}
legend{
    color: #B3B3B3;
}

#header{
    height: 40px;
    width:100% ;
    background:#EFEFEF;
}
#header_box{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    line-height:40px;
}
#header_box_one{
    float: left;
    margin-left: 50px;
}
#header_box_two{
    float: left;
    margin-left:30px;
}
#header_box_three{
    float: left;
    margin:7.5px 0 0 350px;
}
.header_box_three_bor{
    float: left;
    height: 25px;
    margin-right: 20px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}
.header_box_three_bor:first-child{
    border-right: none;
}
#header_box_four{
    float: left;
    width: 105px;
    height: 25px;
    box-sizing: border-box;
    margin:7.5px 0 0 50px;
    position: relative;
    z-index: 10;
}
.header_box_four_one{
    text-align: center;
    line-height: 25px;
    float: left;
    width: 85px;
    height: 25px;
    cursor: pointer;
    border:1px solid #B3B3B3;
    box-sizing: border-box;
    border-right: none;
}
.header_box_four_two{
    text-align: center;
    line-height: 25px;
    float: left;
    width: 20px;
    height: 25px;
    border:1px solid #B3B3B3;
    box-sizing: border-box;
}
.header_box_four_three{
    width: 400px;
    height: 200px;
    background: transparent;
    position: absolute;
    right:0px;
    top:15px;
    z-index: 100;
    display:none;
}
.header_box_four_three_em{
    width: 400px;
    height: 20px;
    background: transparent;
}
.header_box_four_three_tran{
    width: 400px;
    height: 217px;
    background: #ffffff;
    border-radius: 4px;
}
tr,td{
    border: 1px solid #B3B3B3;
    text-align: center;
}
table{
    width: 400px;
    height: 100px;
}
tr{
    height: 20px; ;
}
td{
    width: 100px;
    height: 20px;
}
#header_box_four:hover .header_box_four_three{
    display: block;
}
/*附加登录遮罩层*/
#login_second{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 200;
    display: none;
}
#login_second_all{
    width: 600px;
    height: 350px;
    border-radius: 5px;
    background: #ffffff;
    margin: 10% auto;
}
#login_second_content{
    width:100%;
    height: auto;
}
#login_second_content>div:nth-child(1){
    width:100%;
    height: 60px;
    line-height: 60px;
    color:#36A9E2;
    font-weight: bold;
    border-bottom: 1px solid #dfdfdf;
    text-align: center;
}
#login_second_content>div:nth-child(1)>span{
    font-size:22px;
}
#close_login{
    position: relative;
    top: 0;
    left:190px;
    cursor: pointer;
    color: #B3B3B3;
    font-size: 24px;
}
#login_pad{
    padding: 0 100px;
}
#sign_out{
    color: #36A9E2;
    margin-left: 5px;
    display: none;
}
#login_all,#sign_out{
    float: left;
}

/*遮罩层白色背景的内容*/
.login_pad{
    padding: 20px;
}
.login_one{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.login_one>span{
    font-size: 20px;
    color: #3FB2E8;
}
.login_two{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
    border-bottom: 1px solid #CCCCCC;
}
.login_two>input{
    border:none;
    background: transparent;
}
.login_three{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.login_three>a{
    float: right;
}
.login_four{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.login_four>button{
    width: 100%;
    height: 40px;
    border:none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    background:#97d0ea;
    border-radius: 3px;
}
.login_four>button:hover{
    background:#3FB2E8 ;
}
.login_five{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.login_five>ul{
    float: left;
}
.login_five>ul>li{
    float: left;
}
.login_five>ul>li:nth-child(2){
    padding:0 8px;
}
.login_five>ul>li>a>img{
    vertical-align: middle;
}

.login_register {
    display: block;
    float: right;
    margin-left: 10px;
}

#nav{
    width: 100%;
    height: 68px;
    background: rgba(255,255,255,.5);
}
#nav_all{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
#nav_all>div{
    float: left;
}
#nav_all>div:nth-child(1){
    width: 142px;
    height: 68px;
    overflow: hidden;
}
#nav_all>div:nth-child(1)>a>img{
    width: 142px;
    height: 68px;
}
#nav_all>div:nth-child(2)>ul{
    margin-left: 20px;
}
#nav_all>div:nth-child(2)>ul>li{
    display: block;
    float: left;
    width: 120px;
    height: 68px;
    line-height: 68px;
    text-align: center;
    z-index: 100;
}
#nav_all>div:nth-child(2)>ul>li:hover{
    background: #e56606;
}
#nav_all>div:nth-child(2)>ul>li>a:hover{
    color: #ffffff;
}
#nav_all>div:nth-child(2)>ul>li:nth-child(1){
    background: #e56606;
}
#nav_all>div:nth-child(2)>ul>li:nth-child(1)>a{
    color: #ffffff;
}
#nav_all>div:nth-child(2)>ul>li>a{
    display: block;
    width: 120px;
    height: 68px;
}
#nav_all>div:nth-child(3){
    width: 250px;
    height: 35px;
    line-height: 35px;
    background: #ffffff;
    border: 1px solid #e56606;
    margin: 15px 0 0 100px;
    border-radius: 5px;
    box-shadow: 0 3px 5px #888888;
}
#nav_all>div:nth-child(3)>input{
    width: 200px;
    height: 30px;
    margin-left: 10px;
}
#nav_all>div:nth-child(3)>img{
    display: block;
    width: 30px;
    height: 30px;
    float: right;
    margin: 2px 6px 0 0;
}
#section{
    width: 100%;
    height: 1400px;
    background: url("../image/bbs_bg.jpg") no-repeat top;
    background-size: 100% auto;
}
#news_one{
    width: 100%;
    height: 300px;
}
#one_all{
    width: 1200px;
    height: 100%;
    margin: 15px auto;
    background: #ffffff;
}
#one_all>div{
    float: left;
}
#one_all>div:nth-child(1){
    width: 400px;
    height: 300px;
    box-sizing: border-box;
}
.one_top-style{
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #dddddd;
    text-indent: 10px;
    font-weight: bold;
    font-size: 16px;
}
#one_all>div:nth-child(1)>div:nth-child(2){
    width: 100%;
    height: 250px;
    padding: 15px 10px;
    box-sizing: border-box;
    overflow: hidden;
}
#news_one_pic>a>img{
    width: 100%;
    height: auto;
}
#news_one_pic>div{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: rgba(0,0,0,.5);
    position: relative;
    left:0;
    top:-50px;
}
#news_one_pic>div>a{
    color:#ffffff;
    display: block;
}
#news_one_pic>div>a:nth-child(1){
    float: left;
    display: block;
    font-size: 18px;
    margin-left: 10px;
}
#news_one_pic>div>a:nth-child(2){
    float: right;
    display: block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
    background: #e56606;
    margin:10px 10px 0 0;
}
#one_all>div:nth-child(2){
    width: 400px;
    height:300px;
}
#one_game_line{
    width: 100%;
    height: 230px;
    margin-top: 15px;

}
#one_game_line>ul>li{
    display: block;
    float: left;
    border: 1px solid #dddddd;
    margin: 0 10px 10px 0;
    box-sizing: border-box;
}
li.end-pad{
    margin-right: 0!important;
}
#one_game_line>ul>li>a:nth-child(1){
    display: block;
    width: 124px;
    height: 75px;
    overflow: hidden;
}
#one_game_line>ul>li>a:nth-child(1)>img{
    width: 125px;
    height: 75px;
}
#one_game_line>ul>li>a:nth-child(2){
    display: block;
    width: 120px;
    height: 30px;
    border-top:none;
    line-height: 30px;
    text-align: center;
}
#one_all>div:nth-child(3){
    width: 390px;
    height:300px;
    box-sizing: border-box;
    margin-left: 10px;
}
#one_chat>div:nth-child(2){
    width: 390px;
    height: 250px;
    box-sizing: border-box;
    padding: 15px 20px;
    overflow: hidden;
}
#one_chat>div:nth-child(2)>ul>li{
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
#one_chat>div:nth-child(2)>ul>li>span{
    float: right;
}
#news_two{
    width: 1200px;
    height:1010px;
    margin: 20px auto;
    background: #ffffff;
}
#news_two_first{
    width:100%;
    height: 350px;
}
.news_line_top{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-indent: 10px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
}
#news_two_first>div:nth-child(2){
    width: 100%;
    height: 145px;
    border-bottom: 1px dashed #B3B3B3;
}
.news_line_copy{
    width:380px;
    height: 140px;
    float: left;
    margin: 5px 0 0 20px;
}
.news_line_copy>a:nth-child(1)>img{
    display: block;
    width: 200px;
    height: 120px;
    margin-top: 10px;
    border-radius: 5px;
    float: left;
}
.news_line_copy>div{
    width: 140px;
    height: 100%;
    float: left;
    padding: 10px;
    margin-left: 10px;
    box-sizing: border-box;
}
.news_line_copy>div>a{
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
}
.news_line_copy>div>a>span{
    color: #e4393c;
}
.news_line_copy>div>span{
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    color: #B3B3B3;
}
#news_two_second{
    width: 100%;
    height: 635px;
    margin-top: 20px;
}