html{
    font: 14px "microsoft yahei", Arial, Helvetica, sans-serif;
}
body{
    background: #F7F7F7;
}
a{
    text-decoration: none;
    color: #222222;
    font-size: 14px;
}
a:hover{
    color: #36A9E2;
}
fieldset{
    margin:0;
    border-radius: 4px;
    border:1px solid #cccccc;
}
img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}
input,button{
    border:0px;
    outline:none
}
ul,li{
    list-style: none;
}
legend{
    color: #B3B3B3;
}

#header{
    height: 40px;
    width:100% ;
    background:#EFEFEF;
    position: absolute;
    left:0;
    top:0;
    z-index: 100;
}
#header_box{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    line-height:40px;
}
#header_box_one{
    float: left;
    margin-left: 50px;
}
#header_box_two{
    float: left;
    margin-left:30px;
}
#header_box_three{
    float: left;
    margin:7.5px 0 0 350px;
}
.header_box_three_bor{
    float: left;
    height: 25px;
    margin-right: 20px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}
.header_box_three_bor:first-child{
    border-right: none;
}
#header_box_four{
    float: left;
    width: 105px;
    height: 25px;
    box-sizing: border-box;
    margin:7.5px 0 0 50px;
    position: relative;
    z-index: 10;
}
.header_box_four_one{
    text-align: center;
    line-height: 25px;
    float: left;
    width: 85px;
    height: 25px;
    cursor: pointer;
    border:1px solid #B3B3B3;
    box-sizing: border-box;
    border-right: none;
}
.header_box_four_two{
    text-align: center;
    line-height: 25px;
    float: left;
    width: 20px;
    height: 25px;
    border:1px solid #B3B3B3;
    box-sizing: border-box;
}
.header_box_four_three{
    width: 400px;
    height: 200px;
    background: transparent;
    position: absolute;
    right:0px;
    top:15px;
    z-index: 100;
    display:none;
}
.header_box_four_three_em{
    width: 400px;
    height: 20px;
    background: transparent;
}
.header_box_four_three_tran{
    width: 400px;
    height: 217px;
    background: #ffffff;
    border-radius: 4px;
}
tr,td{
    border: 1px solid #B3B3B3;
    text-align: center;
}
table{
    width: 400px;
    height: 100px;
}
tr{
    height: 20px; ;
}
td{
    width: 100px;
    height: 20px;
}
#header_box_four:hover .header_box_four_three{
    display: block;
}

#nav{
    background: rgba(255, 255, 255, .5);
    display: block;
    height: 70px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    left:0;
    top: 40px;
    z-index: 10;
}
#nav_top{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.nav_pic{
    display: inline-block;
    float: left;
    width: 142px;
    height: 70px;
}
#nav_tab{
    display: inline-block;
    float: left;
    height: 70px;
    width: 700px;
    margin-left: 105px;
}
#nav_tab li{
    display: inline-block;
    float: left;
    width: 115px;
    line-height: 65px;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
}
#nav_tab li>a{
    display:block;
    float: left;
    width: 115px;
    height: 65px;
    box-sizing: border-box;
    cursor: pointer;
}
#nav_tab>li:first-child{
    background: #e56606;
    border-top:5px solid rgba(0, 0, 0, .5);
}
.tar_hover{
    border-top:5px solid transparent;
}
.tar_hover:hover{
    background: #e56606;
    transition: background .5s;
    -moz-transition: background .5s;
    -webkit-transition: background .5s;
    -o-transition: background .5s;
    border-top:5px solid rgba(0, 0, 0, .5);
}
.tar_hover>a:hover{
    color: #ffffff;
}
#search {
    float: left;
    width: 200px;
    height: 35px;
    background: #ffffff;
    border: 1px solid #EFEFEF;
    margin: 20px 0 0 50px;
    border-radius: 20px;
    position: relative;
}
#search_btn {
    width: 175px;
    height: 35px;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 10px;
    box-sizing: border-box;
    -webkit-appearance: none;
}
#search_pic {
    position: absolute;
    right: 10px;
    top: 5px;
    display: block;
    cursor: pointer;
}
/*附加登录遮罩层*/
#login_second{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 200;
    display: none;
}
#login_second_all{
    width: 600px;
    height: 350px;
    border-radius: 5px;
    background: #ffffff;
    margin: 10% auto;
}
#login_second_content{
    width:100%;
    height: auto;
}
#login_second_content>div:nth-child(1){
    width:100%;
    height: 60px;
    line-height: 60px;
    color:#36A9E2;
    font-weight: bold;
    border-bottom: 1px solid #dfdfdf;
    text-align: center;
}
#login_second_content>div:nth-child(1)>span{
    font-size:22px;
}
#close_login{
    position: relative;
    top: 0;
    left:190px;
    cursor: pointer;
    color: #B3B3B3;
    font-size: 24px;
}
#login_pad{
    padding: 0 100px;
}
#sign_out{
    color: #E5B79B;
    margin-left: 5px;
    display: none;
}
#login_all,#sign_out,#login_name{
    float: left;
}
#login_name{
    font-size: 13px;
    color: #222222;
}
#sign_out:hover{
    color: #e56606;
}

/*遮罩层白色背景的内容*/
.login_pad{
    padding: 20px;
}
.login_one{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.login_one>span{
    font-size: 20px;
    color: #3FB2E8;
}
.login_two{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
    border-bottom: 1px solid #CCCCCC;
}
.login_two>input{
    border:none;
    background: transparent;
}
.login_three{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.login_three>a{
    float: right;
}
.login_four{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.login_four>input{
    display: block;
    width: 100%;
    height: 40px;
    border:none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    background:#97d0ea;
    border-radius: 3px;
}
#login_enter_two:hover{
    background:#3FB2E8 ;
}
.login_five{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.login_five>ul{
    float: left;
}
.login_five>ul>li{
    float: left;
}
.login_five>ul>li:nth-child(2){
    padding:0 8px;
}
.login_five>ul>li>a>img{
    vertical-align: middle;
}
.login_register {
    display: block;
    float: right;
    margin-left: 10px;
}