#main{
    width: 100%;
    height: 100%;
    position: fixed;
    left:0;
    top:0;
    background: rgba(0,0,0,.5);
}
#main_all{
    width: 500px;
    height: 300px;
    background: #FFFFFF;
    margin: 150px auto;
    border-radius: 15px;
}
#part_one{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #888888;
}
#part_one>h3{
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-indent: 20px;
    font-size: 18px;
}
#part_two{
    width: 100%;
    height: 250px;
}
#part_two>h3{
    width: 200px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin: 0 auto;
}
#part_two>p{
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 10px auto;
    font-size: 18px;
}
#part_two>p>span{
    font-size: 19px;
    color: #e4393c;
    font-weight: bold;
}
#part_two>div{
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin: 50px auto;
    color: #FFFFFF;
    background: #e56606;
    border-radius: 4px;
    cursor: default;
}